* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: blue;
}

#menu {
    background-color: transparent;
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    color: white;


    z-index: 2;
}


.containerImg {
    height: 100%;
    width: 100%;
    background-color: sienna;
}
#menu nav ul{
    display: flex;
    gap: 20px;
}

#menu nav ul li{
    position: relative;
}

#menu nav ul li::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    color: white;
    background-color: brown;
    transition: all 0.2s ease;
}

#menu nav ul li:hover::after{
    width: 100%;
}

#menu nav ul li a{
    color: white;
}


.containerImg img {
    width: 100%;
    height: 100%;

}


